<div class="header-connect">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8  col-xs-12">
                <div class="header-half header-call">
                    <p>
                        <span><i class="pe-7s-call"></i><a href="tel:+905326824944"><b> 0532 682 49 44</b></a></span>
                        <span><i class="pe-7s-mail"></i><a href="mailto:info@fikirtepekentselemlak.com">info@fikirtepekentselemlak.com</a></span>
                    </p>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                <div class="header-half header-social">
                    <ul class="list-inline">
                        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/wwwroot/assets/img/logo.png" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse yamm" id="navigation">
            <ul class="main-nav nav navbar-nav navbar-right">
 
                <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="@Url.Action("About","Home")">Hakkımızda</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.4s"><a href="@Url.Action("Iletisim","Home")">İletişim</a></li>
            </ul>
        </div>
    </div>
</nav>